.App {
  font-family: Arial, sans-serif;
}

.pdf-interaction {
  display: flex;
  height: 100vh;
}

.left {
  flex: 1;
  border-right: 1px solid #ccc;
  overflow: auto;
}

.right {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}
